@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  padding: 0 20px;
}

::-webkit-scrollbar {
  background-color: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
  cursor: pointer;
}

.largeDisplayText {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
  word-wrap: break-word;
  height: 1000px;
  width: 1000px;
}
.largeDisplayText h1 {
  font-size: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
b,
em,
blockquote {
  color: #ffffff;
  font-family: "Didact Gothic", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

.lightText {
  color: #ffffff;
}

.darkText {
  color: #000000;
}

textarea.primaryTextarea {
  background-color: transparent;
  border: none;
  color: #ff0000;
  height: 100%;
  font-size: 3rem;
  outline: none;
  padding: 10px;
  resize: none;
}
@media screen and (max-width: 1024px) {
  textarea.primaryTextarea {
    min-height: 40vh;
    padding: 0;
  }
}

button.primaryBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
button.primaryBtn:hover h3 {
  color: #ff0000;
  transition: 0.2s;
}

.app header.appHeader nav.nav {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}
.app header.appHeader nav.nav div.brandNavbar {
  align-items: center;
  display: flex;
  user-select: none;
}
.app header.appHeader nav.nav div.brandNavbar h3.brandLogo {
  color: #ff0000;
  margin: 0 10px 0 0;
}
.app header.appHeader nav.nav ul.listNavbar {
  align-items: center;
  display: flex;
  list-style: none;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem {
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem .listNavbarItemAnchorText {
  color: #ffffff;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem .listNavbarItemAnchorText:hover {
  color: #ff0000;
  transition: 0.2s;
}
.app section.appBody {
  align-items: center;
  display: flex;
}
.app section.appBody .appBodyControl {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 80vh;
  justify-content: center;
  align-items: center;
}
.app section.appBody .appBodyDisplay {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  overflow-y: scroll;
  padding: 20px;
  width: 80vh;
  word-wrap: break-word;
}
.app section.appAbout {
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
.app section.appAbout button.aboutClose {
  position: absolute;
  right: 30px;
  top: 20px;
}
.app section.appAbout h3.aboutCreatedBy {
  text-align: center;
}
.app section.appAbout blockquote.aboutQuote {
  margin: 20px 40px;
}

@media screen and (max-width: 1024px) {
  section.appBody {
    display: flex;
    flex-direction: column;
  }
  section.appBody .appBodyDisplay {
    min-width: 90vw;
    height: 90vh;
    padding: 0 10px;
    transform: scale(0.5);
  }
  section.appBody .appBodyControl {
    align-items: center;
    min-width: 90vw;
    height: 90vh;
    padding: 0 10px;
    transform: scale(0.5);
  }
}