@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
b,
em {
  color: #ffffff;
  font-family: "Didact Gothic", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

.lightText {
  color: #ffffff;
}

.darkText {
  color: #000000;
}

textarea.primaryTextarea {
  background-color: transparent;
  border: none;
  color: #ff0000;
  height: 100%;
  font-size: 1.5rem;
  outline: none;
  padding: 10px;
  resize: none;
}
@media screen and (max-width: 1024px) {
  textarea.primaryTextarea {
    min-height: 40vh;
    padding: 0;
  }
}

button.primaryBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  padding: 0 20px;
}

::-webkit-scrollbar {
  background-color: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
  cursor: pointer;
}

.app header.appHeader nav.nav {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}
.app header.appHeader nav.nav div.brandNavbar {
  align-items: center;
  display: flex;
  user-select: none;
}
.app header.appHeader nav.nav div.brandNavbar h3.brandLogo {
  color: #ff0000;
  margin: 0 10px 0 0;
}
.app header.appHeader nav.nav ul.listNavbar {
  align-items: center;
  display: flex;
  list-style: none;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem {
  margin: 0 10px;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem .listNavbarItemAnchorText {
  color: #ffffff;
}
.app header.appHeader nav.nav ul.listNavbar li.listNavbarItem .listNavbarItemAnchorText:hover {
  color: #ff0000;
  transition: 0.2s;
}
.app section.appBody {
  align-items: center;
  display: flex;
}
.app section.appBody .appBodyDisplay {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  overflow-y: scroll;
  padding: 20px;
  width: 80vh;
}
.app section.appBody .appBodyControl {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  word-wrap: break-word;
}

@media screen and (max-width: 1024px) {
  section.appBody {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 80vh;
  }
  section.appBody .appBodyDisplay {
    min-width: 90vw;
    padding: 0 10px;
  }
  section.appBody .appBodyControl {
    min-width: 90vw;
    padding: 0 10px;
  }
}