.app {
    header.appHeader {
        nav.nav {
            align-items: center;
            display: flex;
            height: $h10;
            justify-content: space-between;

            div.brandNavbar {
                align-items: center;
                display: flex;
                user-select: none;

                h3.brandLogo {
                    color: $accent;
                    margin: 0 $sp10 0 0;
                }
            }

            ul.listNavbar {
                align-items: center;
                display: flex;
                list-style: none;

                li.listNavbarItem {
                    cursor: pointer;
                    font-size: $fs-sm;
                    margin: 0 $sp10;

                    .listNavbarItemAnchorText {
                        color: $lighter;
                    }

                    .listNavbarItemAnchorText:hover {
                        color: $accent;
                        transition: $tri1;
                    }
                }

            }
        }
    }

    section.appBody {
        align-items: center;
        display: flex;

        .appBodyControl {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-height: $h80;
            justify-content: center;
            align-items: center;
        }

        .appBodyDisplay {
            align-items: center;
            display: flex;
            height: $h80;
            justify-content: center;
            overflow-y: scroll;
            padding: $sp20;
            width: $h80;
            word-wrap: break-word;
        }

    }

    section.appAbout {
        align-items: center;
        background-color: $darker;
        border-radius: $sp20;
        display: none;
        flex-direction: column;
        height: $full;
        justify-content: center;
        left: $half;
        position: absolute;
        text-align: center;
        top: $half;
        transform: translate(-$half, -$half);
        width: $full;
        z-index: 1;

        button.aboutClose {
            position: absolute;
            right: $sp40;
            top: $sp20;
        }

        h3.aboutCreatedBy {
            text-align: center;
        }

        blockquote.aboutQuote {
            margin: $sp20 $sp40;
        }

    }

}

// DESKTOP
@media screen and (max-width: $dispDesktop) {
    section.appBody {
        display: flex;
        flex-direction: column;

        .appBodyDisplay {
            min-width: $w90;
            height: $h90;
            padding: 0 $sp10;
            transform: scale(.5);
        }

        .appBodyControl {
            align-items: center;
            min-width: $w90;
            height: $h90;
            padding: 0 $sp10;
            transform: scale(.5);
        }

    }

}