button.primaryBtn {
    background-color: transparent;
    border: none;
    color: $lighter;
    cursor: pointer;

    &:hover {
        h3 {
            color: $accent;
            transition: $tri1;
        }
    }
}