textarea.primaryTextarea {
    background-color: transparent;
    border: none;
    color: $accent;
    height: 100%;
    font-size: $fs-m;
    outline: none;
    padding: $sp10;
    resize: none;

    // DESKTOP
    @media screen and (max-width: $dispDesktop) {
        & {
            min-height: $h40;
            padding: 0;
        }
    }
}