* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $darker;
  padding: 0 $sp20;
}

::-webkit-scrollbar {
  background-color: $darker;
  border-radius: $sp10;
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
  border-radius: $sp10;
  cursor: pointer;
}

.smallDisplayText,
.largeDisplayText {
  align-items: center;
  display: flex;
  justify-content: center;
  word-wrap: break-word;

  h1 {
    font-size: $fs-xxl;
  }
}

.smallDisplayText {
  padding: $sp30;
  height: $small;
  width: $small;
}

.largeDisplayText {
  padding: $sp60;
  height: $large;
  width: $large;
}
